* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  color: azure;
} */
.continer {
  max-width: 450px;
  height: 100vh;
  background-color: #000000;
  color: #fff;
  /* display: flex; */
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.user {
  font-weight: 900;
  font-size: 20px;
}

.icon-name {
  width: 20px;
}

.header-icon {
  width: 30px;
}

.header-right {
  gap: 15px;
  display: flex;
  margin-right: 10px;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 3px;
  border: 4px solid red;
}

.information {
  display: flex;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.followers,
.following,
.post {
  display: flex;
  flex-direction: column;
}

.edit {
  display: flex;
  justify-content: space-around;
}

.number {
  font-weight: 900;
  align-self: center;
}

.Edit-profile,
.Share-profile {
  max-width: 200px;
  background-color: #6766667a;
  border-radius: 6px;
  padding: 7px 55px;
  font-weight: 800;
}

.img-add-user {
  background-color: #6766667a;
  border-radius: 6px;
  padding: 7px 15px;
}
.add-user {
  width: 20px;
}

/* --------------------------- Highlight ---------------------------------- */

.highlight {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.highlight-travel,
.highlight-me {
  /* height: 100px;
  width: 100px;
  border-radius: 50px; */

  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 5px;
  border: 4px solid rgb(97, 96, 96);
}

.highlight-add {
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
}

.highlight span {
  display: flex;
  font-size: 15px;
  justify-content: space-evenly;
}

/*  ----------------------------- post ----------------------------- */

.icon-post {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.post {
  width: 35px;
  border-bottom: 3px solid rgb(0, 0, 0);
}

.post:active {
  border-bottom: 3px solid white;
}

.share-post {
  margin-top: 10px;
  background-color: #1e1d1d;
  border-bottom: 1px solid rgb(189, 187, 187);
  border-top: 1px solid rgb(189, 187, 187);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 450px;
}

.share-img {
  width: 100%;
  max-width: 150px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.footer-icon {
  width: 30px;
}

.add-post {
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 10px;
}

.footer-profile {
  /* width: 30px;
  height: 30px;
  border: 3px solid white; */
  border-radius: 50%;
}
